.header {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.header__img {
  width: 150px;
  height: auto;
}
.header__search {
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid var(--color-border);
  padding: 12px 20px;
  outline: none;
}

.hero {
  min-height: 60vh;
  background: url("Assets/images/maxim-hopman-Hin-rzhOdWs-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.hero__latest {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 90%;
}
.hero__heading {
  font-size: 3rem;
}
.hero__btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.96rem;
  transition: 0.5s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
}
.hero__btn:active {
  background-color: white;
  color: black;
}
.hero__btn:hover {
  background-color: white;
  color: black;
}
.category-bar__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0;
  margin: 10px;
  list-style: none;
  gap: 0.3rem;
  justify-content: center;
}

.category-bar__item-btn {
  border: 1px solid var(--color-border);
  border-radius: 7px;
  padding: 10px 20px;
  transition: 0.5s ease;
  cursor: pointer;
  width: 150px;
}
.category-bar__item-btn:active {
  background-color: var(--color-accent);
  color: white;
}
.active {
  color: white;
  background-color: var(--color-accent);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.product-card {
  width: 100%;
  max-width: 320px;
  min-height: 400px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
.product-card__image {
  height: 300px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.product-card__title {
  font-size: 0.9rem;
}
.product-card__price {
  font-size: 1.7rem;
  font-weight: 600;
}
.product-card__button {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-bg);
  width: 100%;
  padding: 10px 5px;
  font-weight: 600;
  border-radius: 8px;
}
@media (max-width: 780px) {
  .header {
    justify-content: center;
    padding: 15px;
  }

  .hero__heading {
    font-size: 1.8rem;
  }

  .product-card {
    max-width: 90%;
  }
}
