<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>


<header class="header">
  <div class="header__inner">

    <a class="header__logo" href="/">
      <div class="header__logo-icon">
        <img src="../assets/images/logos/icon-light.svg" alt="ED">
      </div>

      <span class="header__logo-text">
        Easy<span class="header__logo-deal">Deal</span>
      </span>
    </a>

    <div class="header__search">
      <i class="fa-solid fa-magnifying-glass header__search-icon"></i>
      <input
        type="search"
        class="header__search-input"
        placeholder="Search products"
      >
    </div>

    <div class="header__actions">
      <a href="#" class="header__login">Login</a>
      <a href="#" class="header__signup">Sign up</a>
    </div>

  </div>
</header>